{% extends 'base.html' %}
  
{% block content  %}

          <section class="vh-100" style = "opacity: 0.7;">
            
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-">
                  <div class="card" style="border-radius: 1rem;">
                    <div>
                      
                      <div class="col-lg-12 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
          
                          <h1 class="display-4 ">Get your Todos listed</h1>

            <p class="lead">A one stop solution for your daily Todos</p>
            
            <p>This tool avails create, update, read and delete your tasks</p>
            
            <hr class="my-4">
            <form method="post" action="/signup/">
              {% csrf_token %}
              {{form.as_ul}}
              <hr class="my-4">
              <input class= "btn btn-success" type="submit" value="Create Account">
            </form>
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

{% endblock  %}
